/* Header: menu */
.context-menu {
    -fx-background-color: derive(#1d1d1d, 50%);
}

.context-menu .label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: #012442;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

/* Command Box */
.command-box {
    -fx-background-color: #765554;
}

.error {
    -fx-text-fill: #d06651 !important; /* The error class should always override the default text-fill style */
}

#commandTextField {
    -fx-background-color: transparent #383838 transparent #383838;
    -fx-background-insets: 0;
    -fx-border-color: #383838 #383838 #ffffff #383838;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: white;
}

/* Body: contact list */
.scroll-pane {
    -fx-background-color: #012442;
}

.scroll-bar {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-pref-width: 10;
    -fx-padding: 1;
}

.scroll-bar .thumb {
    -fx-background-color: derive(#1d1d1d, 50%);
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 0 0 0 0;
}

.grid-pane {
    -fx-background-color: #012442;
}

/* Footer: status bar */
.status-bar {
    -fx-background-color: #012442;
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}
